.wishlistHeader {

    margin-bottom: 2.5rem;

    .headerMain {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wishlistTitle {
            font-size: 1.25rem;
            font-weight: 500;
        }

        .moveAllButton {
            height: 56px;
            padding: 0 3rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            font-size: 1rem;
            background-color: transparent;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;

            &:hover {
                background-color: #DB4444;
                color: #fff;
                border-color: #DB4444;
            }
        }
    }
}