.loginPageForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    .loginPageHeader {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        .loginPageHeaderTitle {
            font-size: 36px;
            line-height: 30px;
            letter-spacing: 1.44px;
            word-wrap: break-word;
        }

        .loginPageHeaderSubtitle {
            font-size: 16px;
            line-height: 24px;
            word-wrap: break-word;
        }
    }

    .loginPageInputFields {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;

        .emailLabel,
        .passwordLabel {
            padding: 1rem 0.5rem;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            &:active,
            &:focus {
                outline: none;
                border-bottom: 1px solid black;
            }
        }
    }


    .forgetAccount {
        .loginPageAlternateActionContainer {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            .loginPageRegisterContainer {
                padding-top: 0.5remrem;
                display: flex;
                justify-content: center;
                gap: 1rem;

                .loginPageRegisterLinkContainer {
                    cursor: pointer;
                    color: black;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .loginPageNoAccountText {
                    margin: 0;
                }
            }
        }
    }
}