.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #db4444; /* Primary Color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loadingText {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #db4444;
  letter-spacing: 1px;
  animation: pulse 1.5s infinite alternate;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
