.cartListContainer {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 2rem;

    .cartTable {
        width: 100%;
        min-width: 800px;
        border-collapse: collapse;

        thead {
            justify-content: space-between;

            .cartTableHeaderRow {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                th {
                    text-align: left;
                    padding-bottom: 1.25rem;
                    font-weight: 500;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}