.wrapper {

    & .container {
        max-width: 1250px;
        margin: 0 auto;
        padding: 5rem 0;

        & .content {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            & .cartBottom {
                display: flex;
                gap: 2rem;
                flex-direction: column;

                @media (min-width: 1024px) {
                    flex-direction: row;
                }
            }
        }
    }
}