.component {
    width: 100%;

    @media (min-width: 1024px) {
        width: 50%;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media (min-width: 640px) {
            flex-direction: row;
        }

        .input {
            flex: 1;
            height: 56px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            font-size: 1rem;
            padding: 0 0.5rem;

            &::placeholder {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}