footer {
    background-color: black;
    color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    padding: 8rem 13rem;

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3rem;


        .ExclusiveSection,
        .SupportSection,
        .AccountSection,
        .QuickLinkSection,
        .DownloadAppSection {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            display: inline-flex;
        }

        .ExclusiveSection {
            .ExclusiveHolder {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1.5rem;
                display: inline-flex;

                .Holder {
                    .Logo {
                        .Exclusive {
                            font-size: 1.5rem;
                            font-weight: 800;
                            word-wrap: break-word;
                            padding-bottom: 1.875rem;
                        }
                    }

                    .Subscribe {
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                        word-wrap: break-word;
                    }
                }

                .discount {
                    font-weight: lighter;
                    font-size: 0.9375rem;
                    line-height: 1.5rem;
                    word-wrap: break-word;
                    padding-bottom: 0.9375rem;
                }
            }

            .SendMail {
                display: flex;
                align-items: center;
                padding: 0.2rem 0.5rem;
                border-radius: 4px;
                border: 1.5px solid #FAFAFA;

                .EnterYourEmail {
                    color: white;
                    border: none;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    word-wrap: break-word;
                    background: transparent;
                    flex-grow: 1;

                    &::placeholder {
                        opacity: 0.4;
                    }

                    &:focus {
                        border: none;
                    }
                }

                .IconSend {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }

        .SupportSection {
            .Support {
                font-size: 1.5rem;
                font-weight: 800;
                word-wrap: break-word;
                padding-bottom: 1.875rem;
            }

            .Holder {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;
                display: inline-flex;
            }

            .Adress {
                width: 175px;
            }

            .Adress,
            .Mail,
            .Phone {
                font-size: 1rem;
                font-weight: lighter;
                line-height: 1.5rem;
                word-wrap: break-word;
            }
        }

        .AccountSection {
            .Account {
                font-size: 1.5rem;
                font-weight: 800;
                word-wrap: break-word;
                padding-bottom: 1.875rem;
            }

            .Holder {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;
                display: inline-flex;
            }

            .MyAccount,
            .LoginRegister,
            .Cart,
            .Wishlist,
            .Shop {
                font-size: 1rem;
                font-weight: lighter;
                line-height: 1.5rem;
                word-wrap: break-word;
            }
        }

        .QuickLinkSection {
            .QuickLinks {
                font-size: 1.5rem;
                font-weight: 800;
                word-wrap: break-word;
                padding-bottom: 1.875rem;
            }

            .Holder {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;
                display: inline-flex;
            }

            .PrivacyPolicy,
            .TermsOfUse,
            .FAQ,
            .Contact {
                font-size: 1rem;
                font-weight: lighter;
                line-height: 1.5rem;
                word-wrap: break-word;
            }
        }

        .DownloadAppSection {
            .Holder {
                .DownloadApp {
                    font-size: 1.5rem;
                    font-weight: 800;
                    word-wrap: break-word;
                    padding-bottom: 1.875rem;
                }

                .DetailHolder {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 0.5rem;
                    display: inline-flex;

                    .Coupon {
                        opacity: 0.7;
                        font-size: 0.75rem;
                        font-weight: 500;
                        line-height: 1.125rem;
                        word-wrap: break-word;
                    }
                }

                .DownloadAppHolder {
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.5rem;
                    display: inline-flex;

                    .QrCode {
                        width: 5rem;
                        height: 5rem;
                        border: 0.0625rem solid #FAFAFA;
                        border-radius: 0.3125rem;

                        .Qrcode1 {
                            width: 4.75rem;
                            height: 4.75rem;
                        }
                    }

                    .DownloadAppStoreHolder {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 0.25rem;
                        display: inline-flex;

                        .GooglePlay {
                            width: 6.875rem;
                            height: 2.5rem;
                            background: #030406;
                            position: relative;

                            .GooglePlayLogo {
                                width: 6.5rem;
                                height: 1.875rem;
                                position: absolute;
                                left: 0.1875rem;
                                top: 0.3125rem;
                                border: 0.0625rem solid #FAFAFA;
                                border-radius: 0.3125rem;
                            }
                        }

                        .Appstore {
                            width: 6.875rem;
                            height: 2.5rem;
                            background: black;
                            justify-content: center;
                            align-items: center;
                            display: inline-flex;

                            .AppStoreLogo {
                                width: 6.5rem;
                                height: 2.125rem;
                                left: 0.1875rem;
                                top: 0.3125rem;
                                border: 0.0625rem solid #FAFAFA;
                                border-radius: 0.3125rem;
                            }
                        }
                    }
                }
            }

            .SocialsHolder {
                padding-top: 1.5rem;
                display: flex;
                gap: 1.5rem;
            }
        }
    }

    .copyright {
        opacity: 0.4;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4rem;
        text-align: center;
        padding-bottom: 25px;
        word-wrap: break-word;
    }
}