.footer {
    justify-content: space-between;
    align-items: flex-start;
    gap: 87px;
    display: flex;
    background-color: black;
    color: #FAFAFA;
    padding: 80px 135px;
    font-family: 'Poppins', sans-serif;

    .ExclusiveSection,
    .SupportSection,
    .AccountSection,
    .QuickLinkSection {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: inline-flex;
    }

    .ExclusiveSection {

        .Exclusive {
            font-size: 24px;
            font-weight: 800;
            word-wrap: break-word;
        }

        .ExclusiveHolder,
        .Holder {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 24px;
            display: inline-flex;
        }

        .discount {
            font-weight: lighter;
            font-size: 16px;
            line-height: 24px;
            word-wrap: break-word;
            padding-bottom: 15px;
        }

        .SendMail {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 32px;
            border: 1px solid #FAFAFA;
            border-radius: 4px;
            padding: 12px 16px;

            .EnterYourEmail {
                opacity: 0.4;
                font-size: 16px;
                line-height: 24px;
                word-wrap: break-word;
                flex-grow: 1;
                border: none;
                background: transparent;
                color: #FAFAFA;
                padding: 0;
            }

            .IconSend {
                width: 24px;
                height: 24px;
            }
        }
    }

    .SupportSection {
        .Support {
            line-height: 28px;
            word-wrap: break-word;
            padding-bottom: 14px;
            font-size: 24px;
            font-weight: 800;
        }

        .Holder {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px;
            display: inline-flex;
        }

        .Adress,
        .Mail,
        .Phone {
            font-size: 16px;
            font-weight: lighter;
            line-height: 24px;
            word-wrap: break-word;
        }
    }

    .AccountSection {
        .Account {
            padding-bottom: 14px;
            font-size: 24px;
            font-weight: 800;
            word-wrap: break-word;
        }

        .Holder {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px;
            display: inline-flex;
        }

        .MyAccount,
        .LoginRegister,
        .Cart,
        .Wishlist,
        .Shop {
            font-size: 16px;
            font-weight: lighter;
            line-height: 24px;
            word-wrap: break-word;
        }
    }

    .QuickLinkSection {
        .QuickLinks {
            padding-bottom: 14px;
            font-size: 24px;
            font-weight: 800;
            word-wrap: break-word;
        }

        .Holder {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px;
            display: inline-flex;
        }

        .PrivacyPolicy,
        .TermsOfUse,
        .FAQ,
        .Contact {
            font-size: 16px;
            font-weight: lighter;
            line-height: 24px;
            word-wrap: break-word;
        }
    }
}