.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 1.5rem;

    .title {
        font-size: 6rem;
        font-weight: 600;
        margin: 0;
    }

    .message {
        font-size: 1.25rem;
    }
}